body {
  font-family: Arial;
  background-color: #0b1220;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.product-item {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.product-item h2 {
    color: #4CAF50;
}
